'<li><div class="row">'+
'    <div class="twelve columns">'+
'        <hr>                       '+
'    </div>                           '+
'</div>'+
'<div class="row newImage">'+
'    <div class="twelve columns horizontal_fields">'+
        '<div class="qq-upload-spinner"><span class="qq-upload-size"></span></div>'+
        '<div class="progressInfo">    <span class="qq-upload-file"></span>'+
        '    <a class="qq-upload-cancel" href="#">Cancel</a>'+
        '    <span class="qq-upload-failed-text">Failed</span>'+
        '</div>'+
    '</div>'+
'</div></li>'

