<div class="row">
    <div class="twelve columns">
        <div id="warning" class="alert-box [success warning error]" style="display:none;">
            <span></span>
            <a href="" class="close">&times;</a>
        </div>
    </div>
</div>