<div class="row" id="secondary_navigation">
    <div class="twelve columns">
        <ul id="level-1">
            <li class="${activePage=='accountSettings'||activePage=='notificationSettings'?"selected":""}">
                <a href="${activePage=='accountSettings'?"#":createLink(controller:'appUser',action:'accountSettings')}">Account</a></li>
            <li class="${activePage in ['timeline','gallerySettings','artworks','guide']?"selected":""}"><a href="${createLink(controller:'gallery')}">Gallery</a></li>
            <li class="${activePage in ['comments','following','activityGuide']?"selected":""}"><a href="${createLink(controller:'activity')}">Activity</a></li>
            <!--li><a href="#">Goodworks</a></li-->
            <!--li><a href="#">Bids</a></li-->
        </ul>
        <div class="clear-both"></div>
        <g:if test="${activePage=='accountSettings'||activePage=='notificationSettings'}">
        <ul id="level-2">
            <li class="${activePage=='accountSettings'?"selected":""}"><a href="${activePage=='accountSettings'?"#":createLink(controller:'appUser',action:'accountSettings')}">Settings</a></li>
            <li class="${activePage=='notificationSettings'?"selected":""}"><a href="${activePage=='notificationSettings'?"#":createLink(controller:'appUser',action:'notificationSettings')}">Notifications</a></li>
        </ul>
        </g:if>
        <g:if test="${activePage in ['timeline','gallerySettings','artworks','guide']}">
            <ul id="level-2">
                <li class="${'gallerySettings'.equals(activePage)?'selected':''}"><a href="${createLink(controller:'gallery',action:'index')}">Settings</a></li>
                <li class="${'artworks'.equals(activePage)?'selected':''}"><a href="${createLink(controller:'artwork',action:'index')}">Artworks</a></li>
                <g:if test="${galleryInstance?.galleryNameUrl || gallery?.galleryNameUrl || artwork?.gallery}">
                    <g:if test="${galleryInstance?.artworks?.findAll{it.status=="Approved" && it.showInTimeline=="on"}?.size()>0 || gallery?.artworks?.findAll{it.status=="Approved" && it.showInTimeline=="on"}?.size()>0 || artwork?.gallery?.artworks?.findAll{it.status=="Approved" && it.showInTimeline=="on"}?.size()>0 }">
                        <li class="${'timeline'.equals(activePage)?'selected':''}"><a href="${createLink(controller:'gallery',action:'timeline')}">Artist Timeline</a></li>
                    </g:if>
                </g:if>
                <li class="${'guide'.equals(activePage)?'selected':''}"><a href="${createLink(controller:'gallery',action:'guide')}">Guide</a></li>
                <g:if test="${galleryInstance?.galleryNameUrl || gallery?.galleryNameUrl || artwork?.gallery}">
                    <g:if test="${galleryInstance?.artworks?.findAll{it.status=="Approved"}?.size()>0 || gallery?.artworks?.findAll{it.status=="Approved"}?.size()>0 || artwork?.gallery?.artworks?.findAll{it.status=="Approved"}?.size()>0 }"><li><a href="${createLink(controller:galleryInstance?.galleryNameUrl?:gallery?.galleryNameUrl)}">View</a></li>
                    </g:if>
                </g:if>
            </ul>
        </g:if>
        <g:if test="${activePage in ['comments','following','activityGuide']}">
            <ul id="level-2">
                <li class="${'comments'.equals(activePage)?'selected':''}"><a href="${createLink(controller:'activity',action:'comments')}">Comments</a></li>
                <li class="${'following'.equals(activePage)?'selected':''}"><a href="${createLink(controller:'activity',action:'following')}">Following</a></li>
                <li class="${'activityGuide'.equals(activePage)?'selected':''}"><a href="${createLink(controller:'activity',action:'activityGuide')}">Guide</a></li>

            </ul>
        </g:if>
    </div>
</div>