<%@ page import="com.galleryofgood.gallery.Artwork" %>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name='layout' content='main'/>
    <title><g:message code='search.freshPaint' default="Fresh Paint - Gallery of Good"/></title>
    <r:require modules="foundation, lazyload"/>
    <r:script>
    //Pagination AJAX load
    function loadByPagination(max, offset, sort, order, controller, action, containerId){
        $.ajax({
            url: "${createLink(uri: '/' )}"+controller+"/"+action,
            type: "POST",
            data: {max:max, offset:offset, sort:sort, order:order},
            dataType: "html",
            beforeSend: function() {
            },
            success: function(results) {
               $("#"+containerId).html(results);
            }
        });
    }
    </r:script>
</head>
<body>
<g:render template="/layouts/flashMessage"/>
<!-- main content area -->
<div class="row">
    <div class="twelve columns">
        <h2 class="heading color-black">Fresh Paint</h2>
    </div>
</div>

<!-- sort links -->
<!-- secondary navigation -->
<div class="row">
    <div class="twelve columns" id="artworks-listing">
        <!-- Artworks Items -->
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <br /><br />

    </div>
</div>
%{--<div class="row">--}%
    %{--<div class="twelve columns">--}%
        <ripple:paginate count="${36}" total="${artworksInstance.size()}"  sort="dateCreated" order="desc" controller="${params.controller}" action="freshPaintPerPage" containerId="artworks-listing"/>
    %{--</div>--}%
%{--</div>--}%
<div class="row">
    <div class="twelve columns">
        &nbsp;
    </div>
</div>
<!-- main content area -->

</body>