<%--
  Created by IntelliJ IDEA.
  User: lester
  Date: 6/5/12
  Time: 2:57 PM
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title></title>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=307880795966709";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<fb:like href="http://www.google.com" send="true" layout="button_count" width="200" show_faces="false"></fb:like>
</body>
</html>