/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; }
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width: none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{border-radius: .5em;margin-top:0;}
    #cboxContent{background:#fff; border: 30px #fff solid;border-radius: 5px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);}
    #cboxwrapper{}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:45px;}
        /*#cboxLoadedContent img {max-height: 580px;}*/
        #cboxTitle{position:absolute; bottom:0px; left:0px; font-size: 12px;font-family: Arial,sans-serif;color:#666666;}
        #cboxCurrent{position:absolute; bottom:15px;right:50px;color:#666666;font-size:12px;font-family: Arial,sans-serif}
        #cboxSlideshow{position:absolute; bottom:0px; right:0px; color:#000;font-family: Arial,sans-serif;text-indent: -9999px;width:42px;height:35px;}
        .cboxSlideshow_on #cboxSlideshow {background: url('../images/slideshow_pause_btn.jpg');}
        .cboxSlideshow_off #cboxSlideshow {background: url('../images/slideshow_play_btn.jpg');}
        .slideshow-title{font-size:18px;}
        .slideshow-artist{position: relative;top: 3px;}
        #cboxPrevious:hover{position:absolute; top:50%; left:0; margin-top:-32px; background:url(../images/lightbox-btn-prev.gif) no-repeat top left; width:65px; height:65px; text-indent:-9999px;}
        #cboxPrevious{position:absolute; top:50%; left:0; margin-top:-32px; width:65px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{position:absolute; top:50%; right:0; margin-top:-32px; background:url(../images/lightbox-btn-next.gif) no-repeat top right; width:65px; height:65px; text-indent:-9999px;}
        #cboxNext{position:absolute; top:50%; right:0; margin-top:-32px; width:65px; height:65px; text-indent:-9999px;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxLoadingGraphic{background:url(../images/lightbox-ico-loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:-15px; right:-15px; display:block; color:#000 ;font-weight: bold;
            font-size: 22px;
            line-height: .5;
            text-shadow: 0 -1px 1px rbga(0,0,0,.6);
            font-weight: bold;
            cursor: pointer;}