.growl-error{
    color:lightCoral;
}

.rotate{
    opacity:0.7;
}

.rotate:hover {
    opacity:1.0;
}

.highlight-crop{
    opacity:1.0 !important;
}


.circle {
    width: 32px;
    height: 32px;
    margin-right:4px;
    text-align: center;
    position:relative;
    color:white;
    vertical-align:middle;
    background: black;
    float:left;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}
.circle span {
    position:relative;
    top:6px;
    margin-top:7px;
    font-weight:bold;
    font-size:1.5em;

}

#metadata {
    top:100px;
    /*position:fixed;*/
    /*background-color: green;*/
}
#metadata.fixed{
    position: fixed !important;
    margin: 0 0 0 0px;
    top: 0;
    z-index:9999;
    box-shadow: 0 4px 8px -6px #000;
}
#metadata.fixed + * {
    padding-top: 70px;
}

.mandatory {
    color: red;
    font-size: 14px;
    vertical-align:top;
}

.initialuploadmessage{
    min-height: 550px;
    margin-top: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.5;
}

.bordergray {
    border-color:#E5E5E5;
    border-width: 1px;
    border-style: solid;
}

.white.button.disabled:hover, .white.button.disabled:focus	{ background-color: #e9e9e9;color:#333333;}
