/* Main styles for Gallery of Good by Yabin Ge */
/* Date created: 2012-01-07 */
/* Last updated: 2012-02-06 */

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Global
:: Links
:: Layout
:: Navigation
:: Search
:: Form
:: Tables
:: Pagination
:: Orbit
:: Tag Cloud
:: Other
*/

/*	--------------------------------------------------
	:: Global
	-------------------------------------------------- */
	body { background: #fff; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #666666; }
	.row { max-width: 956px; }
	.clear-left { clear: left; }
	.clear-right { clear: right; }
	.clear-both { clear: both; }
	.float-left { float: left; }
	.float-right { float: right; }
	.align-left { margin-right: 50%; }
	.align-right { margin-left: 50%; }
	.align-center { margin: 0 25%; }
	h1, h2, h3, h4, h5, h6 { color: #666666; padding-bottom: .75em; }
	img { border: none; }

/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
	a { color: #000; text-decoration: none; line-height: inherit; }
	a:hover { color: #666666; }
	a:focus { color: #666666; outline: none; }
	p a, p a:visited { line-height: inherit; }
	hr { border: solid #e5e5e5; border-width: 1px 0 0; clear: both; margin: 12px 0 18px; height: 0; }

/*	--------------------------------------------------
	:: Layout
	-------------------------------------------------- */
	#header .col1, #footer .col1 { margin: 0 1.6% 0 1.1%; }
	#header .col2, #footer .col2 { margin: 0 1.8% 0 2%; }
	#header .col3, #footer .col3 { margin: 0 1.8% 0 2%; }
	#header .col4, #footer .col4 { margin: 0 1.8% 0 2%;  }
	#header .col5, #footer .col5 { margin: 0 2% 0 1.8%; width: 140px; }
	#header .col6, #footer .col6 { margin: 0; }	
	#username a, #username a:hover, #username a:focus, #username a:visited { color: #245f8a; }
	#header { background: url(../images/grid_bg.gif) top left no-repeat; padding: 25px 0 10px; }
	#header h1 { background: url(../images/logo_gog.jpg) top left no-repeat; width: 158px; height: 73px; margin: 0; }
	#header h1 a { display: block; width: 142px; height: 73px; }
	#header h1 a span { display: none; }
	#header h3 { font-size: 13px; font-weight: normal; color: #666666; margin-top: 5px; }
	#header ul, #footer ul { width: 140px; }
	#header ul li, #footer ul li { border-bottom: 1px solid #e5e5e5; margin-bottom: 0; line-height: 2em; }
	#header ul li.last, #footer ul li.last { border: none; }
	#footer { background: url(../images/grid_bg.gif) 0px 10px no-repeat; border-top: 1px solid #e5e5e5; margin-top: 50px; }
	#footer h2 { font-size: 1.4em; font-weight: normal; color: #000; margin-top: 53px; background: url(../images/nav_blue.jpg) -4px 28px no-repeat; width: 158px; line-height: 30px; height: 45px; }
	#footer h2#footer_artworks { font-size: 1.4em; font-weight: normal; margin-top: 53px; background: url(../images/nav_green.jpg) -4px 28px no-repeat; width: 158px; line-height: 30px; height: 45px; }
	#footer h2 img { margin: -48px 0 0 14px; }
	#footer ul { margin-top: -15px; }
	#footer p { margin-top: -10px; }
	#footer .col1 { position: relative; }
	#footer p#copyright { position: absolute; bottom: -135px; font-size: .9em; }
	#title_guides { width: 140px; height: 40px; position: relative; }
	#title_guides span { background: url(../images/title_guides.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }
	#title_get_started { width: 215px; height: 40px; position: relative; }
	#title_get_started span { background: url(../images/title_get_started.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }
	#title_art_fundraisers { width: 310px; height: 40px; position: relative; }
	#title_art_fundraisers span { background: url(../images/title_art_fundraisers.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }
	#title_most_admired { width: 300px; height: 40px; position: relative; }
	#title_most_admired span { background: url(../images/title_most_admired.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }
	#title_most_admired_view_all, #title_fresh_paint_view_new, #title_retrospective_view_timeline, #title_goodworks_view_all, #title_emerging_themes_view_all { float: right; margin-top: 35px; }
	#title_type_and_age { width: 250px; height: 40px; position: relative; }
	#title_type_and_age span { background: url(../images/title_type_and_age.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }
	#title_retrospective { width: 300px; height: 35px; position: relative; }
	#title_retrospective span { background: url(../images/title_retrospective.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }
	/*#title_featuring { width: 750px; height: 25px; position: relative; }
	#title_featuring span { background: url(../images/title_featuring.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }*/
	#title_drawing { width: 180px; height: 40px; position: relative; }
	#title_drawing span { background: url(../images/title_drawing.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }
	#title_painting { width: 185px; height: 40px; position: relative; }
	#title_painting span { background: url(../images/title_painting.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }
	#title_crafts { width: 130px; height: 40px; position: relative; }
	#title_crafts span { background: url(../images/title_crafts.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }
	#title_goodworks { width: 250px; height: 40px; position: relative; }
	#title_goodworks span { background: url(../images/title_goodworks.jpg) no-repeat; position: absolute; width: 100%; height: 100%; }
	/* #title_emerging_themes {
		width: 710px; height: 40px; position: relative;
	}
	#title_emerging_themes span {
			background: url(../images/title_emerging_themes.png) no-repeat; position: absolute; width: 100%; height: 100%;
	} */
	.title_none { height: 40px; }
	.grid_bg_home3col { background: url(../images/grid_bg_home3col.gif) left 10px no-repeat; }
	.grid_bg_home3col_artfundraisers { background: url(../images/grid_bg_home3col.gif) left 35px no-repeat; }
	.grid_bg_home3col_most_admired { background: url(../images/grid_bg_home3col.gif) left top no-repeat; }
	.grid_bg_home3col_most_admired img { padding-left: 2px; }
	.grid_bg_home3col_drawing_painting_crafts { background: url(../images/grid_bg_home3col.gif) left 92px no-repeat; }
	.grid_bg_home3col_drawing_painting_crafts img { padding-left: 2px; }
	.grid_bg_home3col_goodworks { background: url(../images/grid_bg_home3col.gif) left top no-repeat; }
	.grid_bg_home3col_goodworks img { padding-left: 2px; }
	.home3col { width: 105%; }
	.home3col h4 { color: #000; font-weight: normal; height: 38px; padding-left: 8px; }
	.home3col h4.title_bg_blue { background: url(../images/title_bg_blue.jpg) left 30px no-repeat; }
	.home3col h4.title_bg_orange { width: 300px; background: url(../images/title_bg_orange.jpg) left 30px no-repeat; }
	.home3col p { padding: 0 8px; }
	.home3col p span { font-size: 22px; }
	.home3col p.fundraiser_title { color: #000; font-size: 15px; font-weight: bold; }
	.home3col p.fundraiser_title span { font-size: 11px; }
	.home3col p.most_admired_title { font-size: 15px; font-weight: bold; padding: 4px; }
	.home3col p.most_admired_title span { font-size: 11px; }
	.home3col p.most_admired_title span span { color: #000; }
	.ending_time { float: right; color: #e86625; font-size: 13px; margin: 0px 8px 0 0; display: inline; }
	.ending_time strong { font-size: 40px; font-weight: bold; }
	.ending_time span { font-size: 20px; }
	.home3col_noborder { text-align: center; padding: 30px 8px; }
	.home3col_noborder p { color: #000; font-size: 22px; line-height: 32px; /* padding: 0 30px; */ padding: 0 5px;}
	.home3col_noborder p.quote_author { font-size: 11px; font-weight: bold; }

/*	--------------------------------------------------
	:: Navigation
	-------------------------------------------------- */
	#navigation { margin-top: 0; background: url(../images/grid_bg.gif) top left no-repeat; height: 35px; margin-bottom: 50px; }
	.nav-bar { background: none; border: none; margin-top: 0; height: 30px; }
	.nav-bar>li { border-right: none; width: 158px; line-height: 30px; height: 45px; }
	.nav-bar>li>a { font-size: 1.7em; padding: 0 11px; }
	.nav-bar>li>a:hover { color: #666666; }
	.nav-bar>li>a.current-page { color: #666666; }
	.nav-bar>li#you { background: url(../images/nav_blue.jpg) 5px 31px no-repeat; }
	.nav-bar>li#artworks { background: url(../images/nav_green.jpg) 6px 31px no-repeat; }
	.nav-bar>li#experiences { background: url(../images/nav_yellow.jpg) 7px 31px no-repeat; }
	.nav-bar>li#fundraisers { background: url(../images/nav_red.jpg) 8px 31px no-repeat; }
	#secondary_navigation { padding: 10px 0; background: none; }
	#secondary_navigation li.selected a { color: #245f8a; }
	#secondary_navigation ul#level-1 { margin: 0 7px; border-bottom: 1px solid #e5e5e5; padding-bottom: 35px; }
	#secondary_navigation ul#level-2 { margin: 0 7px; border-bottom: 1px solid #e5e5e5; padding-bottom: 30px; }
	#secondary_navigation ul#level-1 li { font-size: 18px; float: left; padding-right: 28px; height: 35px; }
	#secondary_navigation ul#level-2 li { font-size: 15px; float: left; padding-right: 55px; height: 30px; }
	#secondary_navigation ul#level-1 li.selected { background: url(../images/nav_selected.gif) 25% 21px no-repeat; }
	.sort_links { padding: 0 0 20px; background: none; }
	.sort_links li.selected a, .sort_links li.active a { color: #94bd10; }
	.sort_links ul.sort_links_type { margin: 0 7px; border-bottom: 1px solid #e5e5e5; padding: 10px 0 30px; }
	.sort_links ul.sort_links_age { margin: 0 7px; border-bottom: 1px solid #e5e5e5; padding: 10px 0 30px; }
	.sort_links ul.sort_links_type li { font-size: 18px; float: left; padding-right: 40px; }
	.sort_links ul.sort_links_age li { font-size: 18px; float: left; padding-right: 40px; }
	.sort_links ul.sort_links_type li.show_all { border-right: 1px solid #e5e5e5; padding-right: 20px; }
	.sort_links ul.sort_links_age li.show_all { border-right: 1px solid #e5e5e5; padding-right: 20px; }
	.sort_links ul.sort_links_type li.sort_link_first { padding-left: 20px; }
	.sort_links ul.sort_links_age li.sort_link_first { padding-left: 20px; }
	.tag_results ul { border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }
	.tag_results ul li { float: left; padding: 10px 30px 0 0; }
	.tag_results ul li span { width: 20px; height: 16px; position: relative; }
	.tag_results ul li span span { background: url(../images/x_remove.jpg) no-repeat; position: absolute; top: 0; left: -10px; width: 20px; height: 16px; }

/*	--------------------------------------------------
	:: Search
	-------------------------------------------------- */
	#search-module  { width: 300px; height: 50px; background: white; border: 1px solid white; margin: -10px 13px 0; }
	#search-module form.custom { margin-top: 10px; }
	#search-module form.custom input, #search-module form.custom select, #search-module form.custom div.custom.dropdown { float: left; height: 34px; }
	#search-module form.custom input.search-box { width: 124px; height: 32px; border: none; background: #fafafa; color: #666666; padding: 0 5px; }
	#search-module form.custom input.search-box-r1 { width: 240px; height: 32px; border: none; background: #fafafa; color: #666666; padding: 0 5px; }
	#search-module form.custom div.custom.dropdown { height: 34px; margin-top: 0px; }
	#search-module form.custom div.custom.dropdown a.current  { background: #fafafa; padding: 0 18px 0 6px; line-height: 34px; border: none; color: #666666; }
	#search-module form.custom div.custom.dropdown a.selector { height: 34px; border: none; top: 5px; }
	#search-module form.custom div.custom.dropdown ul { top: 34px; background: #fafafa; border: none; }
	#search-module form.custom div.custom.dropdown ul li { padding: 5px 18px 5px 6px; color: #666666; }
	#search-module form.custom div.custom.dropdown ul li:hover { background-color: #bbb; color: white; }
	#search-module form.custom input.submit-button { margin-left: 6px; width: 42px; height: 34px; border: none; background: url(../images/btn_search.jpg) top right no-repeat; }
	#search-module form.custom input.submit-button:hover { cursor: pointer; }


/*	--------------------------------------------------
	:: Form
	-------------------------------------------------- */
	#horizontal_radio label { float: left; padding-right: 50px; }
	img#create_account_note { float: left; margin: 0 10px 0 0; }
	input.btn-blue, input.btn-blue-smaller, input.btn-orange {
		background: url(../images/btn-blue.jpg) top left no-repeat; 
		border: medium none;
		color: #E5E5E5;
		font-size: 22px;
		height: 48px;
		padding: 0 0 0 19px;
		text-align: left;
		cursor: pointer;
		width: 303px;
	}
	input.btn-orange {background: url(../images/btn-orange.jpg);}
	input.btn-blue-smaller {
		background: url(../images/btn-blue-smaller.png) top left no-repeat; 
		font-size: 18px;
		height: 39px;
		width: 251px;
	}
	input.btn_standard:hover { cursor: pointer; }
	#age_radio p { font-size: 15px; }
	.row .four  label { font-size: 15px; }
	.divider_bg { background: url(../images/divider_bg.gif) top left no-repeat; }
	.radio { margin-left: 15px; }
	input.wider, textarea.wider { width: 440px; }
	textarea.wider { height: 60px; }
	textarea.widest { width: 550px; height: 120px; }
	input.narrower, textarea.narrower { width: 205px; }
	label span { font-size: .85em }
	.horizontal_fields div { float: left; margin-right: 16px; }
	.horizontal_fields div.horizontal_last { margin: 12px 0 0 -16px; }
	.secondary_link { font-size: 11px; }
	form.custom div.custom.dropdown.inside_tab ul li { width: 74px; }


/*	--------------------------------------------------
	:: Tables
	-------------------------------------------------- */
	table { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 5px 0 18px; border: none;  }
	
	table thead, table tfoot { background: #fff; border-top: 1px solid #ddd; }
	table thead tr th,
	table tfoot tr th,
	table tbody tr td,
	table tr td,
	table tfoot tr td { font-size: 12px; line-height: 18px; text-align: left; }
	table thead tr th,
	table tfoot tr td { padding: 8px 10px 9px; font-size: 13px; font-weight: bold; color: #666; }
	table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }
	table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }

	table tbody tr.even,
	table tbody tr.alt { background: #fff; }
	table tbody tr:nth-child(even) { background: #fff; border-top: 1px solid #ddd; }
	table tbody tr td { color: #666; padding: 9px 10px; vertical-align: top; border: none; border-top: 1px solid #ddd; }
	
	table#admiration thead tr th,
	table#admiration tfoot tr td { padding: 8px 20px 9px 10px; }
	table#admiration tbody tr td { padding: 9px 60px 9px 10px; }

	table.comments thead tr th,
	table.comments tfoot tr td { padding: 8px 20px 9px 10px; }
	table.comments tbody tr td { padding: 9px 40px 9px 10px; }
	table.comments tbody tr.new-comment { background-color: #fafafa; }
	table#admiration tbody tr td img {vertical-align: top}
	
/*  --------------------------------------------------
  :: Pagination
  -------------------------------------------------- */
  ul.pagination { list-style: none; position: relative; float: left; display: block; left: 50%; }
  ul.pagination li { position: relative; float: left; display: block; right: 50%;}
  ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus { border-bottom: solid 2px #245f8a; }
  

/*  --------------------------------------------------
  :: Orbit
  -------------------------------------------------- */
  .orbit-bullets li.has-thumb {
    width: 155px;
    height: 110px; }


/*  --------------------------------------------------
  :: Tag Cloud
  -------------------------------------------------- */
  .tag_cloud li { float: left; padding: 10px 15px 10px 0; }
  .tag_cloud li.tag_size_1 { font-size: 1em; }
  .tag_cloud li.tag_size_2 { font-size: 1.25em; }
  .tag_cloud li.tag_size_3 { font-size: 1.5em; }
  .tag_cloud li.tag_size_4 { font-size: 1.75em; }
  .tag_cloud li.tag_size_5 { font-size: 2em; }
  .tag_cloud li.tag_size_6 { font-size: 2.25em; }
  .tag_cloud li.tag_size_7 { font-size: 2.5em; }
  .tag_cloud li.tag_size_8 { font-size: 2.75em; }
  .tag_cloud li.tag_size_9 { font-size: 3em; }
  .tag_cloud li.tag_size_10 { font-size: 3.25em; }


/*	--------------------------------------------------
	:: Other
	-------------------------------------------------- */
	#link-list { font-size: 1.4em; }
	#link-list p { line-height: 1.4em; }
	.alert-box { position: relative; }
	#tool-tip { width: 450px; position: absolute; top: -52px; left: 25px; }
	.alert-box a#inline_close { color: #000; position: relative; font-size: 1em; opacity: 1; }
	.alert-box a#inline_close:hover,.alert-box a#inline_close:focus { color: #666666; }
	#hover-tooltip { postition: relative; }
	div.account-type { width: 450px; display: none; position: absolute; top: 40px; left: -50px; }
	#hover-tooltip a:hover + div.account-type { display: block; }
	div.account-type ul { list-style: disc; float: left; padding: 15px 10px 0; }
	div.account-type ul strong { font-size: 1.15em; }
	div.account-type ul li { margin: 4px 0 0 18px; }
	ul#password_tip { list-style: disc; padding: 0 18px; }
	ul#password_tip li { margin: 2px 0; }
	ul.linked_images li { float: left; margin-right: 10px; }
	ul.without_border li { border: 1px solid white; }
	ul.with_border li { border: 1px solid #b2b2b2; }
	ul.linked_images li:hover { border: 1px solid #757575; }
	ul.linked_images li.current_linked_image { border: 1px solid #757575; }
	.edit_image { margin: 0 15px 10px 0; }
	ul.linked_images_no_border li { float: left; margin-right: 10px; }
	ul.linked_images_no_border li div { float: none; margin: 2px 25%; display: none; }
	ul.linked_images_no_border li:hover { border: none; }
	ul.linked_images_no_border li:hover div { display: block; width: 30px; }
	ul.normal-list { list-style: disc; }
	ul.normal-list li { margin: 2px 18px; }
	.attention-icon { padding: 5px 20px 40px 20px; }
	.attention-paragraph { padding-top: 5px; }
	.attention-paragraph span { font-size: 1.25em; }
	.artwork-thumbnail { padding: 0 20px 18px 3px; }
	div.admirations_sent div { float: left; /*padding: 10px 12px 20px 0;*/ padding: 10px 10px 20px 0;}
	div.artwork_list div { float: left; padding: 0px 18px 25px 0; width: 300px; }
	div.artwork_list div a span { font-size: 1.25em; }
	div.artwork_list div img { padding: 0 0 10px 0; }
	p.page_indicator { text-align: center; padding: 40px 0 10px; }
	.theme_tag_size_10 { font-size: 2.75em; text-align: right; padding-top: 20%; }
	.theme_tag_size_9 { font-size: 2.5em; text-align: right; padding-top: 20%; }
	.theme_tag_size_8 { font-size: 2em; text-align: right; padding-top: 20%; }
	.theme_tag_size_7 { font-size: 1.75em; text-align: right; padding-top: 20%; }
	.theme_tag_size_6 { font-size: 1.5em; text-align: right; padding-top: 20%; }
	.theme_tag_size_5 { font-size: 1.25em; text-align: right; padding-top: 20%; }
	.theme_tag_size_4 { font-size: 1em; text-align: right; padding-top: 20%; }
	.theme_tag_size_3 { font-size: .75em; text-align: right; padding-top: 20%; }
	.theme_tag_size_2 { font-size: .5em; text-align: right; padding-top: 20%; }
	.theme_tag_size_1 { font-size: .25em; text-align: right; padding-top: 20%; }	
	.theme_artwork_thumb img { float: none; padding: 0 0 10px 0; }
	.theme_artwork_thumb img.theme_artwork_thumb_last { padding: 0 0 10px 0; }
	.center-align {text-align: center;}
	.left-align {text-align:left;}
	.right-align {text-align: right;}

.srdd #level-1 .selected a{color:#94bd10}
.listing ul{margin-left:-7px;margin-top:-5px}
.listing li{float: left;font-size: 12px;margin: 0;max-width: 223px;padding-bottom: 36px;padding-left: 16px;}
.listing li h5, .artwork h5{color:#000000;margin:14px 0 0;padding:0}
.listing li a, .artwork a  {color: #000;}
.listing li a:hover, .artwork a:hover {color: #666;}
.listing li span, .artwork span {color:#000}
.listing li p, .artwork p {line-height:13px;margin:0 0 3px;padding:0}
.artwork {}
.ma-artwork {padding: 0 0 0 6px;}
.ma-artwork h5 p {
	font-size: 16px;
	margin: 0;
}
.srdd-top-fix h4, .srddnf-top-fix h4 {margin: 0;padding: 0 0 2px;}
.srdd #level-2 .selected a{color:#94bd10}
.srdd-footer{margin-top:105px !important}
.srdd-crit .listing ul{margin-left: -81px;}
.srdd-crit .listing li{padding-left: 86px;}
.srdd-crit li p {display:inline;}
.srdd-crit #level-2 li{color:#757575}
.srdd #level-2 li a{font-size:14px}
.srdd-crit .listing li h5{margin-top:16px}

/* .srddnf-top-fix h4{font-size:24px;font-weight:normal;padding-bottom:12px} */
.srddnf-top-fix{margin-top:12px;margin-bottom:50px}

/* footer search artist = fsa*/
.fsa-top-fix{margin-top:-33px}
.fsa h4{font-weight:normal;font-size:24px;color:#757575}

/* contact us */
.contact-us{margin-top:23px}
.contact-us label{font-size:16px;margin-bottom:13px}
.contact-us h2{padding-bottom:18px}
.contact-us input,.contact-us textarea,.contact-us .dropdown{margin-bottom:15px}
.contact-us textarea{height:100px;width:385px}
/* .contact-us input[type="submit"]{font-size:16px;font-weight:normal;padding:10px 80px} */
.contact-us .ca-fix{margin:70px 0 0 18px;width:32.77% !important}
.contact-us .ca-fix1{margin:0}
.ca-fix p{margin:0;font-size:12px;color:#757575}
.ca-fix img{float:left;margin-right:10px}

.color-black {color: #000 !important;}

.astag{padding:0 0 0 6px !important}
div.artwork_list div .listing li h5,.artwork h5{margin-top:0}
div.artwork_list div .ma-artwork{padding:0 !important}
.ma-artwork h5 a,.listing li h5 a{font-size:17px}
.mg-coments{font-size:17px}
.mg-txtarea textarea{width:439px;height:171px;resize:none}
.mg-txtarea textarea[placeholder]{font-family:arial;font-size:14px;color:#757575}
.mg-txtarea{margin-top:12px;margin-bottom:67px}
.moderated-txt{font:11px Arial;margin-top:28px}
.gg-timeline{margin-top:70px;background:url(../images/gg-middle-line.jpg) repeat-y top center;position:relative}
.gg-timeline h3{background:#fff;text-align:center;color:#666666 !important}
#title_gallery_of_good{margin:0 auto !important;width:309px}
#title_gallery_of_good span{background:url(../images/title_galery_of_good.jpg) no-repeat;left:0}
.timeline{background:url(../images/gg-timeline-circle.jpg) no-repeat scroll bottom center;margin-bottom:140px}
.left-column{clear:left;float:left}
.right-column{clear:right;float:right}
.timelineUnit{}
.timeline li{width:478px;display:block;position:relative}
.timelineUnitContainer{border:3px solid #000000;margin:0 auto;padding:17px 17px 24px;width:310px;position:relative}
.tluc-inner{background:url(../images/tl-border-left-right.jpg) repeat-y;padding:7px 7px 0}
.tluc-top{background:url(../images/tl-border-top.jpg)}
.tluc-bottom{background:url(../images/tl-border-bottom.jpg)}
.tluc-top,.tluc-bottom{position:absolute;width:309px;height:7px}
.tluc-inner img{width:100%;/* height:100%; */display:block}
.timelineText{padding:13px 63px}
.timelineText h5{font-size:22px;padding-bottom:0}
.timelineEmptySpace{height:150px}
.timelineEmptySpace2{height:15px}
.timelineLine{display:block;height:1px;position:absolute;top:50%;width:64px;background:url(../images/timelineLine.jpg) repeat-x}
.left-column .timelineLine{right:-67px}
.right-column .timelineLine{left:-67px}
.terms_of_service p{font-size:14px;line-height:21px;padding-right:102px}
.terms_of_service h3{margin-bottom:15px}
.tos-bigger{font-size:16px !important;line-height:23px !important}
#title_community_guidelines{height:42px;width:446px}
#title_community_guidelines span{background:url(../images/title_community_guidelines.jpg) no-repeat;position:absolute;width:100%;height:100%}
.cg-toptxt{font-size:14px;line-height:24px}
.community_guidelines-tip p{line-height:20px;padding:0 0 0 84px;font-size:14px}
.guidelines h5{font:bold 16px Arial;padding-bottom:2px}
.community_guidelines p{font-size:14px}
.guidelines{font-size:14px}
.sponsored-txt{}
.sponsored-txt h5{line-height:17px;margin-bottom:5px}
.sponsored-txt p{line-height:16px}
div.artwork_list div{min-height:75px}
.agg{}
.agg h5{border-bottom:1px solid #E5E5E5;color:#757575;font-size:17px;font-weight:normal;margin:0 0 24px;padding:0 0 8px}
.agg .columns .row{padding-bottom:12px;padding-top:4px}

.link-list li{margin-bottom:10px}
.link-list a{font-size:16px}
.general_guide-p{font-size:14px;line-height:24px;margin-top:-5px}
.pgg-anchors{padding:0 27px 0 0}
.pgg-anchors ul{}
.pgg-anchors li{font-size:14px;list-style:disc outside none;margin:0 0 0 22px}
.pgg-anchors h5{font-size:16px;font-weight:bold;padding-bottom:1px}
.pgg-anchors p{font-size:14px;line-height:20px}
.pgg-side{}
.pgg-side .three{margin:0}
.pgg-side .columns{margin-left:10px}
@font-face {
    font-family: 'ARSNoveltyBold';
    src: url('../fonts/arsnovelty-webfont.eot');
    src: url('../fonts/arsnovelty-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arsnovelty-webfont.woff') format('woff'),
         url('../fonts/arsnovelty-webfont.ttf') format('truetype'),
         url('../fonts/arsnovelty-webfont.svg#ARSNoveltyBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* CONTACT US  */
.contact-us h2 {
	font-family: 'ARSNoveltyBold';
	font-weight: normal;
	font-size: 44px;
}
/* 51 Member Gallery Page.html */
.mgp-ribbon{background:url(../images/ribbon-bg.png) no-repeat top right}
.mgp-top{height:80px}
.mgp-top .four{margin:0;color:#000;text-align:right}
.mgp-top span{display:inline-block;font:27px 'ARSNoveltyBold';margin:21px 20px 0 0}
.mgp-top p{margin:27px 0 0}
.heading{color:#757575;font:44px 'ARSNoveltyBold';margin:0;padding:0 0 20px 0px}
.mgp-mid{}
.mgp-mid p{font-size:12px;line-height:16px}
.mgp-mid ul{border-left:1px solid #e5e5e5;display:inline-block}
.mgp-mid ul li{margin:0;padding:0 0 0 15px;line-height: 20px;}
.mgp-mid ul li,.mgp-mid ul li a{font-size:14px}
.mgpm-social{margin:0;border:medium none !important}
.mgpm-social li{float:left;padding:0 5px 0 0 !important}
.social-container div{margin: .25em 0 .5em 0}
.clockImg{position:relative;top:-2px;vertical-align:text-bottom;}
.clockImg:hover {opacity: 0.6;-moz-opacity: 0.6;filter:alpha(opacity=6);}
.reveal-modal{background:#fff !important; top:10px;}
.reveal-modal-bg{background-color:#fff;opacity:0.7}
.modal-slideshow{width:auto !important;left:39%;padding:40px 40px 22px !important;}
.ms-about{margin-top:12px;position:relative}
.ms-about h5{margin:0;padding:0;color:#000;font-size:18px}
.ms-about span{margin-right:10px;font-size:12px}
.reveal-modal .close-reveal-modal{color:#000 !important;top:15px;right:15px}
.ms-pages{color:#757575;font-size:12px;position:absolute;right:0}
.sliderNav{left:42%;position:absolute;top:6px}
.sliderNav li{float:left;margin:0 15px 0 0}

/* 55-56 Member Gallery - Artwork Detail Page.html */
.mg-adp-navigation li{float:left;margin-right:12px}
.mg-adp-navigation li a{background:#fafafa;display:block;font-size:14px;font-weight:bold}
.mg-adp-navigation{float:right}
.mg-adp-navigation li.prev{margin-right:20px}
.mg-adp-navigation li img{margin:0 7px 0 5px;vertical-align:middle}
.mg-adp-navigation .prev a{padding-right:10px}
.mg-adp-navigation .next{margin-right:0}
.mg-adp-navigation .next a{padding-left:10px}
.mg-adp-right{border-top:1px solid #E5E5E5;font-size:14px;margin-top:47px;padding-top:13px}
.mg-adp{margin:0 0 0 17px;width:32.97% !important}
.mg-adp-left h3{font-size:32px;font-weight:normal;margin:0;padding:0}
.mg-adp-left p{font-size:12px;line-height:16px}
.mg-adp-tags ul{min-height:80px}
.flag-container{position:relative}
.flag-container .reveal-modal-bg{display:none !important}
.flag-container .reveal-modal{border:1px solid #CCCCCC;border-radius:0 0 0 0;box-shadow:0 0 0 !important;left:299px;padding:15px 24px 0 15px;top:25px !important;width:auto !important}
.flag-container textarea{height:82px;resize:none;width:254px}
.flag-container .reveal-modal p{margin:0 0 5px}
.flag-container .reveal-modal label{font-size:14px;margin:17px 0 15px}
.inline-block{display:inline-block}
.orange{color:#df530d}
.mg-atp-timeline{margin-top:0}
.mg-atp-timelineText{color:#7D7D7D;font-size:30px;line-height:33px}
.mg-atp-timeline .timelineText{padding:19px 63px 37px}

/*Modal slideshow*/
.modal-slideshow{padding:50px 50px 80px !important}
.modal-slideshow .slider-nav{bottom:-72px;position:absolute;right:41%;width:140px}
.modal-slideshow .slider-nav span.right{background:url("../images/slideNav-right.png") repeat scroll 0 0 transparent}
.modal-slideshow .slider-nav span.left{background:url("../images/slideNav-left.png") repeat scroll 0 0 transparent}
.modal-slideshow .timer{bottom:-60px !important;right:46%;top:auto}
.modal-slideshow div.slider-nav span{width:42px;height:34px}
.modal-slideshow span.pause{opacity:1;-moz-opacity:1;filter:alpha(opacity= 1 1)}
.modal-slideshow span.mask{display:none}
.modal-slideshow div.timer{opacity:1;-moz-opacity:1;filter:alpha(opacity=1)}
.modal-slideshow .orbit-caption{background:none repeat scroll 0 0 transparent;bottom:-59px;left:0;padding:0;right:auto;text-align:left;width:46%}
.modal-slideshow .orbit-caption h5{color:#000000;font-size:18px;margin:0;padding:0}
.modal-slideshow .orbit-caption p{color:#666666;display:inline-block;font-size:12px;margin:0px 10px 0px 0px}
.rs-h{font-size:32px;padding-left:9px}
.color-green{color:#94bd10}
.grid_bg_home3col_drawing_painting_crafts h3{padding:13px 0 0 16px}
.play-btn{background:url(../images/slideNav-play-sprite.png) no-repeat scroll 0 0 #fafafa !important;height:34px;width:44px}
.play-btn:hover{background-position:0 -34px !important}
.flag-form textarea,.contact-us form textarea{width:440px !important}
.contact-us form .dropdown{margin-bottom:18px !important}
.clockImg-grey{opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=6)}

/* 31 Upload Artworks_Edit_Details.html */
.uaed-add-artwork-btn {
	font-weight: normal;
    padding: 11px 28px 13px !important;
    position: absolute;
    right: 5px;
    z-index: 9999;
}
/* 29 Upload artworks_Start screen.html */
.upload-btn {
	color: #000000 !important;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    padding: 17px 34px;
    text-align: left;
    width: 236px;
}
/* 30 Upload Artworks_InProgress.html */

/* progressBox Version 1 */
/*.progressBox-v1{position:relative;text-align:center;width:70px}
.progressBox-v1 p{color:#000000;font-size:12px;left:0;position:absolute;top:24px;width:93%;z-index:99999}
.progressBox-v1-img{width:65px;height:63px}
*/
/* progressBox Version 2 */
.progressBox{
	background:url(../images/progressImg-test.gif) no-repeat;
	color: #000000;
    font-size: 12px;
    margin-right: 21px !important;
    padding: 22px 0 20px;
    text-align: center;
    width: 66px;
}
.progressInfo {padding: 17px 0 0;}
.progressInfo p {display: inline-block;font-size: 14px;margin-right: 38px;margin-top: 6px;}
.progressInfo-status {}
.progressInfo-status-error {color: #ff0000;}

/* 2cc_advisors.html */
.cca-price{border-left:1px solid #EBEBEB;font-size:100px;margin:45px 0 0 15px;padding:0 0 25px 0;text-align:center}
.cca-price span{font-size:110px}
.cca-artwork_list{}
.cca-artwork_list p{font-size:12px;line-height:18px}

/* error messages */
small.error{background:none repeat scroll 0 0 transparent !important;border:medium none !important;color:#C00000 !important;font-weight:normal !important;width:auto}
.form-field.error small,small.error{width:auto}
.custom-with-form-254{width:254px !important}
.custom-with-form2{width:92px !important}
.custom-with-form-440{width:440px !important}
.custom-with-form-205{width:205px !important}
.custom-errormsg-1{clear:left;position:relative;top:-11px;width:91px !important}
.custom-errormsg-2{width:128px !important}
.custom-errormsg-3{width:97px !important}
.custom-errormsg-4{width:151px !important}

/* GalleryOfGood_AdminDashboardIDD1.html */
.admin-login{margin-top:150px}
.al-logo{background:url(../images/logo_gog.jpg) no-repeat scroll left top transparent;height:73px;margin:0 auto;width:142px}
.al-form{margin:30px auto 0;width:280px}
.al-form form{margin-bottom:0px}
.al-form input{border:1px solid #000;height:19px}
.al-form label{color:#212121}
.al-form span{color:#212121}
.al-form span a{color:#024cd6}
.al-form span a:hover{color:#024cd6;text-decoration:underline}

/* GalleryOfGood_AdminDashboardIDD2.html */
.admin-panel {
	background: none !important;
}
.admin-panel h1 {padding: 0 !important}
.ap-left {
	
}
.ap-left hr {margin: 12px 0px 12px 0px;}
.ap-left p, .ap-page {
	color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 -5px;
}
.ap-left p, .ap-left a {padding: 0 0 0 5px;}
.ap-right {
	
}
.ap-page {
	margin: 0 0 5px;
}

/* GalleryOfGood_AdminDashboardIDD tabs */
.ap-right ul.tabs-content > li {
	padding: 0 20px;
}

.apr-container {
	color: #000000;
    margin: 0 0 60px;
}
.apr-container p {
	font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.apr-container label {
	margin-bottom: 2px;
}
.apr-container input[type="file"] {

}
.apr-container img {
	
    
}
.apr-container input {

}
.apr-container input[type="text"] {
	height: 22px;
    width: 447px;
    padding: 0px 2px;
}
.aprs-img {
	margin: 15px 0;
}
.aprci-img a, .aprs-img a {
	background: url(../images/ico-close.png) no-repeat;
	display: inline-block;
    height: 24px;
    width: 25px;
}
.aprs-img img {
	border: 1px solid #D4D4D4;
    vertical-align: top;
    width: 450px;
}
.aprc-inner {
	float:left;
	width: 50%;
}
.aprc-inner {

}
.aprc-inner input {
	width: 346px !important;
}

.aprc-inner textarea {
	height: 80px;
    width: 344px !important;
    margin-top: 0;
}


.apr-container input[type="text"], .apr-container textarea {
	border: 1px solid #7f7f7f;
}
textarea.aprci-custom_textarea {
	height: 40px;
}
.aprci-custom-p {
	font-size: 14px !important;
    margin: 5px 0px !important;
}
.aprci-img {
	position: relative;
	border: 1px solid #bfbfbf;
	display: inline-block;
}
.aprci-img img {
	display: block;
    height: 100px;
    width: 151px;
}
.aprci-img a {
	position: absolute;
    right: -30px;
    top: 0;
}
.apr-container .dropdown {
	margin-top: 0;
    width: 400px !important;
}
.aprci-artwork-img img {
	width: 351px;
	height: auto;
}

.ap-rightinput.input-text:focus, .ap-right textarea:focus {
	background: none;
}

.fixed-width-440 {
	width:440px !important;
}
.fixed-width-550 {
	width:550px !important;
}

#copyright {text-align:right;}

.bottom-connect {
	 margin-top: -1px;
}
.bottom-connect img {
	vertical-align: middle;
}

.yob-dd ul {
	height: 168px;
    overflow: auto;
    width: 96px !important;
}
.yob-dd {
}
.yob-dd {
    width: 98px !important;
}
.admirations_sent a.white.button {
	color: #999999;
    margin-top: 9px;
}
.admirations_sent span.custom {
	cursor: pointer;
}


.hp-orbit div.timer { visibility: hidden;}



.astr-hr {
	margin: 0 0 10px;
}
.hp-orbit .orbit-bullets {
	bottom: 40px;
    left: 54% !important;
    position: relative;
}
.hp-orbit .orbit-bullets li {
	padding-left: 32px;
}
.orbit-bullets li.active.has-thumb {
	opacity: 0.6 !important;
	border-top: none !important;
}

.mgp-tags .mg-adp-tags h5 {
	border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
}


.error_404_box {
	border-left: 1px solid #EBEBEB;
    margin-left: 1.6%;
    margin-top: 82px;
    padding: 0 0 23px;
    text-align: center;
    width: 32% !important;
}

.error_box {
	color: #cccccc;
	font: 100px 'ARSNoveltyBold';
}

.custom.nice.flag-form
{
    margin:0 !important;
}
.emerging-themes
{
    margin: 0 2px 0 0;
}
#jquery-lightbox{
    top:10px !important;
}
div.slider-nav span.right{
    background: url(../images/orbit/right-arrow.png) !important;
}
div.slider-nav span.left{
    background: url(../images/orbit/left-arrow.png) !important;
}
.display-artwork{
    text-align:center;
}
ul.withDisc li{
    list-style: disc;
}
.orbit-wrapper{
    overflow: hidden;
}
.modal-view{
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 27px;
}
.modal-view .nice.black.button{
    background-position: 0 -49px;
}
.modal-view .button {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    font-size: 14px;
    line-height: 15px;
    margin: 0 8px;
    opacity: 0.9;
    padding: 8px 17px 10px;
}
.modal-view p {
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 27px;
}
.modal-view.reveal-modal{
    background-color: #EEEEEE !important;
    border: 3px solid #D7D7D7;
    box-shadow: 0 0 0;
    padding: 35px 40px 41px;
    top: 16% !important;
    width: 470px;
}
.modal-view .close-reveal-modal{
    color: #C0C0C0 !important;
}
.reveal-modal{
    background: none repeat scroll 0 0 #FFFFFF !important;
    top: 10px;
}
.modal-no-bg{
    opacity:0;background-color:white;display:none;
}
.commentControl{
    padding-top:3px;
}
#twoCents span{
    color: #666
}
#twoCents .ma-artwork div{
    min-height: 0px;
    padding: 0;
}
.feature-box{
    padding:13px 0 25px 0 !important;
}
.artworkSlider .orbit-bullets{
    bottom:5px !important;
}
a.prev-btn{
    background: url('../images/previous_blk_btn.jpg') center !important;
    width:110px;
    height:34px;
}
a.prev-btn:hover{
    background: url('../images/previous_grey_btn.jpg') center !important;
}
a.next-btn{
    background: url('../images/next_blk_btn.jpg') !important;
    width:107px;
    height:34px;
}
a.next-btn:hover{
    background: url('../images/next_grey_btn.jpg') !important;
}