/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
	/*background:url('../images/background_tile_3.jpg');*/
	background-color:#dedede;
	border-radius:3px;
	position: relative;
	margin:0px auto 90px;
	min-height: 550px;
    max-height:590px;
	overflow: hidden;
    width: 400px;
	
	/*box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);*/
}

/*.mCustomScrollBox:hover {*/
    /*overflow:auto !important;*/
/*}*/


#dropbox .message{
	font-size: 16px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
	color:#ccc;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	width:100%;
	height: auto;
	float:left;
	margin: 27px 0;
	position: relative;
	text-align: center;
}

#dropbox .preview img{
	max-width: 240px;
	max-height:180px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
    border-style:solid;
    border-color:#DEDEDE;
    border-width:15px;
	position:relative;
    margin:0 0 10px 0;
}

#dropbox .selected{
    border-color:#FFF;
    border-radius: 3px;
}

#dropbox .close{
    display: none;
}
#dropbox .selected .close{
    position:absolute;
    top:-11px;
    right:-12px;
    display:block;
    color:#000 ;
    font-size: 15px;
    line-height: .5;
    text-shadow: 0 -1px 0 black;
    font-weight: bold;
    cursor: pointer;

}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../images/upload_add_details.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: relative;
    margin: 0 auto;
	background-color:#FFF;
	height:8px;
	width:60%;
	left:0;
	bottom: 0;
}

#dropbox .progress{
	background-color:#000;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}

