.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    /*width: 105px; padding: 7px 0; text-align:center;    */
    /*background:#880000; border-bottom:1px solid #ddd;color:#fff;*/
}
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; min-height: 40px;max-height:56px;  z-index:2;
    /*background:#FF9797; */
    text-align:center;
    font-size:21px !important;
}
.qq-upload-drop-area span {
    display:block;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {
    background: url(../images/progressImg-test.gif) no-repeat;
    background-size: 60px 61px;
    -moz-background-size:60px 61px;
    color: black;
    font-size: 12px;
    margin-right: 21px !important;
    padding: 22px 0 20px;
    text-align: center;
    width: 66px;
    min-height: 20px;
    display:inline-block;

    /*display:inline-block; background: url(../images/progressImg-test.gif); width:15px; height:15px; vertical-align:text-bottom;*/
}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;
    font-size: 14px;
    margin-right: 38px;
    margin-top: 6px;
    color: red;
}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
