<html>
<head>
    <meta name='layout' content='main'/>
    <title><g:message code="springSecurity.login.title"/></title>
    <r:require module="foundation"/>
</head>

<body>
<form class="custom nice" name="input" action='${postUrl}' method="POST" id='loginForm' autocomplete='off'>
                   
    <div class="row">
        <div class="twelve columns">
            &nbsp;
        </div>
    </div>

    <div class="row divider_bg">
        <div class="one columns">
            &nbsp;
        </div>

        <div class="four columns">
            <h4>Sign-in</h4>
            <label>Username</label>
            <input type='text' class='input-text' name='j_username' id='username'/>
            <p></p>
            <label>Password</label>
            <input type='password' class='input-text' name='j_password' id='password'/>
            <g:if test="${flash.message}">
                <small class="error">${flash.message}</small>
            </g:if>
            <p></p>
            <input type="submit" value="Sign-in" class="btn-blue">
            <p></p>
            <a href="${createLink(controller: 'register', action: 'forgotPassword')}">Forget Username or Password?</a>
        </div>

        <div class="two columns">
            &nbsp;
        </div>

        <div class="four columns">
            <h4>Sign-up</h4>
            <input class="btn-blue" type="button" value="Kids &amp; Grown-ups"  onclick="location.href = '${createLink(controller:'register',action:'index')}'"/>
            <g:if test="${false}">
                <input class="btn_fundraiser" type="submit" value="" />
                <p></p>
                <a href="#">Not sure which account to open?</a>
                <div class="alert-box account-type">
                    <ul><strong>Standard Account</strong>
                        <li>Open a gallery</li>
                        <li>Bid on art fundraisers</li>
                        <li>Participate in the community</li>
                    </ul>
                    <ul><strong>Fundraiser Account</strong>
                        <li>Host your own art fundraiser</li>
                        <li>Bid on art fundraisers</li>
                        <li>Participate in the community</li>
                    </ul>
                </div>
            </g:if>
        </div>

        <div class="one columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            &nbsp;
        </div>
    </div>

</form>

<script type='text/javascript'>
    <!--
    (function () {
        document.forms['loginForm'].elements['j_username'].focus();
    })();
    // -->
</script>
</body>
</html>
