<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name='layout' content='main'/>
    <title><g:message code='contact.us.title' default="Contact Us"/></title>
    <r:require modules="core,foundation,captcha"/>
</head>
<body>
<r:script>
    $(function() {
           $(".ajax-fc-container").captcha({
                formId: 'contactUs',
                url:'${createLink(controller: 'contactUs', action: 'captcha')}',
                captchaDir:'${createLinkTo(dir: 'static/images', absolute: true)}'
           });
    });
</r:script>
<g:render template="/layouts/flashErrors"/>
<!-- main content area -->
<g:form name="contactUs" id="contactUs" controller="contactUs" action="sendEmail" class="nice custom flag-form">
<div class="row contact-us">
    <div class="eight columns">
        <h2>
            Contact Us
        </h2>
            <label><g:message code="contactUs.name" default="Name"/></label>
            <input class="input-text" name="name" id="name" type="text" required="required" value="${command?.name}">
            <g:hasErrors bean="${command}" field="name">
                <small class="error custom-with-form-254"><g:renderErrors bean="${command}" field="name"/></small>
            </g:hasErrors>
            <%--<small class="error custom-with-form-254">Sorry, we were not able to find a user with that username and password.</small> --%>
            <label><g:message code="contactUs.email" default="Email"/></label>
            <input class="input-text" name="email" id="email" type="email" required="required"  value="${command?.email}">
            <g:hasErrors bean="${command}" field="email">
                <small class="error custom-with-form-254"><g:renderErrors bean="${command}" field="email"/></small>
            </g:hasErrors>
            <label><g:message code="contactUs.subject" default="Subject"/></label>
            <g:select name="subject" from="${command?.constraints.subject.inList}" value="${command?.subject}"/>
            <%--
            <select name="subject" id="subject" style="display:none;" required="required">
                <option SELECTED>General Inquiry</option>
                <option>General Inquiry</option>
                <option>Tech Support</option>
                <option>Partnerships & Sponsorships</option>
                <option>Volunteer & Job Opportunities</option>
            </select
            --%>
            <%--
            <div class="custom dropdown" style="width: 245px;">
                <a href="#" class="current">General Inquiry</a>
                <a href="#" class="selector"></a>
                <ul style="width: 245px;">
                    <li>General Inquiry</li>
                    <li>Tech Support</li>
                    <li>Partnerships & Sponsorships</li>
                    <li>Volunteer & Job Opportunities</li>
                </ul>
            </div>
            --%>
            <label><g:message code="contactUs.message" default="Message"/></label>
            <textarea name="message" required="required">${command?.message}</textarea>
            <g:hasErrors bean="${command}" field="message">
                <small class="error custom-with-form-254"><g:renderErrors bean="${command}" field="message"/></small>
            </g:hasErrors>
            <div class="ajax-fc-container"></div>
            <br />
            <g:hasErrors bean="${command}" field="captcha">
                <small class="error">${renderErrors(bean: command, field: 'captcha')}</small>
            </g:hasErrors>
            <!-- <input type="submit" href="#" class="nice large radius white button" value="Submit" /> -->
            <br />
            <input type="submit" class="btn-blue-smaller" value="Submit">
    </div>
    <div class="four columns ca-fix">
        <r:img width="74" height="61" uri="/images/note.jpg" alt="Note" />
        <p>Got questions, suggestions, observations? We like to hear from you. You can also use this contact form to inquire about advertising, partnerships and job opportunities.</p>

    </div>

</div>
</g:form>
<g:render template="/layouts/modalNotify"/>
<!-- main content area -->
</body>
