<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name='layout' content='main'/>
    <title><g:message code='termsofservice.title'/></title>
    <r:require modules="foundation"/>
</head>

<body>



<!-- main content area -->
<div class="row">
    <div class="twelve columns terms_of_service">
        <h2 class="heading color-black">Terms of Service</h2>
        <p>Coming soon...</p>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <p>&nbsp;</p>
    </div>
</div>

<!-- main content area -->

</body>
